<footer>
<ul class="nav nav-pills">
<li><a href="http://readmin.org/"><i class="icon-home"></i>&nbsp;Home</a></li>
<li><a href="https://github.com/ukko/readmin/downloads"><i class="icon-download"></i>&nbsp;Download</a></li>
<li><a href="http://demo.readmin.org/"><i class="icon-play-circle"></i>&nbsp;Demo</a></li>
<li><a href="https://github.com/ukko/readmin/issues"><i class="icon-comment"></i>&nbsp;Feedback</a></li>
<li><a href="http://readmin.org/"><i class="icon-info-sign"></i>&nbsp;About</a></li>
</ul>
</footer>
