/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.header {
    padding: 10px;
}

div.footer{
    padding: 5px;
}

#icon {
 padding-top: 9px;
float: left;
}

div.footer>ul>li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

div.footer>ul>li {
    border-left-style: solid;
    border-left-color: #0066CC;
    border-left-width: thin;
}

div.footer>ul>li:first-child {
    border-left-style: none;
}

select#database {
    font-size: 1.5em;
}

div.command {
    text-align: center;
    padding: 5px;
}
input.command {
    width: 85%;
}

div.result table {
    table-layout: fixed;
}
div.result th:first {
    width: 25px;
}

table>caption {
 font-size: 1.5em;
}

thead tr {
   background: none repeat scroll 0 0 wheat;
   font-size: 1.5em;
}


thead td.check {
	width: 20px;
}
thead td.type {
    width: 35px;
}
thead td.key {
    width: 80%;
}

thead td.action {
    float: right;
    width: 40px;
}

table td {
	word-wrap: break-word;
}

div.help div.group div {
    display: block;
    border: #0066CC;
    border-style: dashed;
    width: 50%;
}

div.message {
    margin-top: 20px;
    padding: 0 .7em;
}

ul.pager li {
    display: inline;
    padding: 3px;
    cursor: default;

    text-decoration: none;
}
ul.pager>li>a
{
    width: 23px;
    height: 40px;
}

ul.pager a.active
{
    background-color: #c6d880;
}

.preview {
    float: right;
    color: #999999;
}
